{% extends "base.html" %}

{% block title %}
Mapa Parking
{% endblock %}

{% block content %}
<div id="fondofondoparking">
    <div id="divselectordataparking">
        <div>
            <p>Data de reserva</p>
            <input id="datareservainput" type="date" min="">
        </div>
    </div>
    <div class="d-flex justify-content-center" id="fondoParking">
        <div class="parkings d-flex justify-content-around">
            <div>
                <div class="parking1parent">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                    <div class="div4"></div>
                    <div class="div5"></div>
                    <div class="div6"></div>
                    <div class="div7"></div>
                    <div class="div8"></div>
                    <div class="div9"></div>
                    <div class="div10"></div>
                    <div class="div11"></div>
                    <div class="div12"></div>
                    <div class="div13"></div>
                    <div class="div14"></div>
                    <div class="div15"></div>
                    <div class="div16"></div>
                    <div class="div17"></div>
                    <div class="div18"></div>
                    <div class="div19"></div>
                    <div class="div20"></div>
                    <div class="div21"></div>
                </div>
            </div>
            <div>
                <div class="parking2parent">
                    <div class="div22"></div>
                    <div class="div23"></div>
                    <div class="div24"></div>
                    <div class="div25"></div>
                    <div class="div26"></div>
                    <div class="div27"></div>
                    <div class="div28"></div>
                    <div class="div29"></div>
                    <div class="div30"></div>
                    <div class="div31"></div>
                    <div class="div32"></div>
                    <div class="div33"></div>
                    <div class="div34"></div>
                    <div class="div35"></div>
                    <div class="div36"></div>
                    <div class="div37"></div>
                    <div class="div38"></div>
                    <div class="div39"></div>
                    <div class="div40"></div>
                    <div class="div41"></div>
                    <div class="div42"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <div id="cuadrosinferiors" >
            <h4 id="indicadorOcupacio">Percentatje ocupacio</h4>
        </div>
        <div><button id="botoReservarPlaca" class="boton-1"></button></div>
        <div id="cuadrosinferiors"><img src="{{ url_for('static', filename='images/llegenda.webp') }}" alt="Legenda: Rogi = Ocupat, Groc = Reservat, Verd = Lliure"></div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/parking.js') }}"></script>
{% endblock %}