{% extends "base.html" %}

{% block title %}
Reservas
{% endblock %}

{% block content %}
<div id="fondoreserves">
    <h2>Reserves</h2>
    <div id="menureserves">
        <div id="divCrearReserva">
            <h3>Fes una reserva</h3>
            <form id="reservaform" method="POST">
                {{ form.hidden_tag() }}
                <label>Data de reserva</label>
                <br>
                {{ form.dataReserva() }}
                <br><br>
                <label>Plaça</label>
                <br>
                {{ form.placa() }}
                <br><br>
                {{ form.id_usuari() }}
                {{ form.submit(class="boton-1") }}
            </form>
        </div>
        <div id="divLlistaReserves">
            <div>
                <p>F</p>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/reserves.js') }}"></script>
{% endblock %}