{% extends "baseNoMenu.html" %}

{% block content %}
<div class="container" id="fondologin">
    <div id="divlogin">
        <h1>Registre</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                <br>
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                <br>
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.plate.label(class="form-label") }}
                <br>
                {{ form.plate(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                <br>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary boton-1") }}
            </div>
            <a href="{{ url_for('auth.login') }}">Ja tens conta? Inicia sessio!</a>
        </form>
    </div>
</div>
{% endblock %}
